body {

    font-size: 0.8vw;

}

@font-face {
    font-family: importLobster;
    src: url("../ressources /RomanSerif.ttf");
}


#titrePlugin {
    background-image: linear-gradient(to right, #40E0D0 0%, #39c6ca 100%);
    color: white;
    padding: 2%;
    font-family: importLobster;
    font-size: 1.7vw;
    margin-bottom: 3%;
}


#description_plugin_links {

    border: 2px ridge black;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 3%;


}

#queryButton {

    width: 100px;
    height: 40px;
}


#infos_plugin {


    display: flex;
    flex-direction: row;

}


td, th {

    padding: 2%;
    text-align: center;
}

tr {

    text-align: center;


}

table {

    width: 100%;

}

td > div {

    margin-bottom: 1%;
    text-decoration: underline;
}